@import url(vendor/fonts/fonts.css);

.page {
    width: 100%;
    background-color: #F2F5EE;
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.page__container {
    margin: auto;
    font-size: 16px;
}

.header {
    max-width: 100%;
    padding: 28px 48px;
    margin: auto;
    background-color: white;
}

.header__link {
    display: flex;
    justify-content: flex-start;
}

.header__logo-link {
    object-fit: fill;
    width: 300px;
    height: auto;
}

.lead {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 98px;
    grid-template-areas:
            "info info form"
            "button icons form";
    /*grid-column-gap: 0 2rem;*/
    margin: 0;
    padding: 7vh 13vw;
    background-image: url(images/lead_back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: fit-content;
}

.lead__info-block {
    grid-area: info;
}

.title {
    margin: 0 0 50px 0;
    font-size: 5rem;
    line-height: 100%;
    font-weight: 600;
}

.title_color-green {
    color: #84B356;
}

.subtitle {
    margin: 0 0 50px 0;
    font-size: 2.3rem;
    font-weight: 500;
}

.button {
    grid-area: button;
    display: flex;
    width: 342px;
    height: 98px;
    background: linear-gradient(318deg, rgba(68,115,22,1) 0%, rgba(190,237,143,1) 73%);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.button__text {
    text-decoration: none;
    color: #333333;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.lead__icons-block {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}

.lead__icon-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    min-width: 208px;
}

.lead__icon {
    width: 58px;
    height: 58px;
}

.lead__icon-text {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
}

.place__icon {
    width: 88px;
    height: 58px;
}

.lead__form-block {
    grid-area: form;
    display: flex;
    justify-content: right;
}

.lead__form {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    max-width: 500px;
    width: 100%;
    margin: 0;
    gap: 5px;
}

.lead__form-input {
    margin: 0;
    padding: 10px 15px;
    height: 65px;
    border: 3px solid white;
    background-color: #464646;
    border-radius: 15px;
}

.lead__form-input::placeholder {
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

.lead__form-textarea {
    margin: 0;
    padding: 10px 15px;
    height: 95px;
    border: 3px solid white;
    background-color: #464646;
    resize: none;
    border-radius: 15px;
}

.lead__form-textarea::placeholder {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
}

.reviews {
    margin: 0;
    padding: 7vh 15vw;
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F5EE;
}

.review-block {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.review-block__frame {
    display: flex;
    margin: 0;
    background-color: #F2F5EE;
    border: 3px solid #84B356;
    border-radius: 50%;
    min-width: 196px;
    height: 196px;
    justify-content: center;
    align-items: center;
}

.review-block__pic {
    width: 179px;
    height: 179px;
}

.review-block__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 415px;
}

.review-block__name {
    margin: 0 0 20px 0;
    font-size: 1.9rem;
    font-weight: 600;
    color: #84B356;
}

.review-block__review {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 500;
    color: #333333;
    line-height: 95%;
}

.argumentation {
    margin: 0;
    background-image: url(images/back.png);
    background-position: center -6vh;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 7vh 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_color-white {
    color: white;
    text-align: center;
}

.arguments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 6vw;
}

.argument-block * {
    position: relative;
}

.argument-block {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 18rem;
    border: 1px solid white;
    border-radius: 30px;
    background-color: rgba(255,255,255, 0.5);
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;
}

.argument-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 30px;
}

.argument__icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background-color: #333333;
    border-radius: 13px;
}

.argument__text {
    font-size: 1.6rem;
}

.argument__title {
    font-weight: 700;
}

.argument__description {
    font-weight: 500;
}

.feature {
    margin: 0;
    padding: 7vh 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 700;
    color: #333333;
}

.call_green {
    color: #84B356;
}

.feature-call {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feature__description-text {
    display: flex;
    flex-direction: column;
    width: 43%;
}

.description {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 500;
}

.description_bold {
    font-weight: 600;
}

.exchange-rate {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.exchange-rate__pack {
    display: flex;
    flex-direction: column;
}

.currency-rate__block {
    background-color: #464646;
    border-radius: 25px;
    max-width: 387px;
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    justify-content: space-between;
}

.currency-name {
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 1.9rem;
}

.rate-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.currency-rate {
    color: #84B356;
    margin: 0;
    font-weight: 500;
    font-size: 1.9rem;
}

.currency-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #84B356;
    border-radius: 50%;
    margin: 0;
    font-weight: 500;
    font-size: 1.9rem;
    color: #333333;
}


@media screen and (min-width: 1920px) {
    .header {
        background-color: white;
    }

    .header__logo-link {
        object-fit: fill;
        width: 25%;
        height: auto;
    }
    /*.lead {
        background-repeat: repeat;
        background-position: center;
    }*/
}

@media screen and (max-width: 1024px) {
    .lead {

    }
}

@media screen and (max-width: 425px) {
    .header__link {
        justify-content: center;
    }

    .header__logo-link {
        width: 100%;
    }

    .lead {
        background-position-x: -120vw;
        background-size: auto;
        height: 80vh;
    }
}

@media screen and (max-width: 375px) {
    .lead {
        height: 70vh;
    }
}
