@import url(vendor/fonts/fonts.css);

.page {
    width: auto;
    background-color: #F2F5EE;
    /*border: 1px solid red;*/
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.page__container {
    margin: 0;
    font-size: 16px;
}

.header {
    max-width: 100%;
    padding: 2vh 3vw;
    margin: auto;
    background-color: white;
}

.header__link {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

.header__logo-link {
    max-width: 91px;
    max-height: 64px;
}

.header__logo-text {
    font-weight: 700;
    font-size: 2.1rem;
    color: #2F2F2F;
    margin: auto 0 auto 0.8rem;
}

.lead {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 98px;
    grid-template-areas:
            "info info form"
            "button icons form";
    /*grid-column-gap: 0 2rem;*/
    margin: 0;
    padding: 7vh 13vw;
    background-image: url(images/lead_back.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: fit-content;
}

.lead__info-block {
    grid-area: info;
}

.title {
    margin: 0 0 50px 0;
    font-size: 4.6rem;
    line-height: 100%;
    font-weight: 600;
    width: 100%;
}

.title_color-green {
    color: #84B356;
    font-weight: 700;
}

.subtitle {
    margin: 0 0 50px 0;
    font-size: 2.3rem;
    font-weight: 500;
    width: 60%;
}

.button {
    grid-area: button;
    display: flex;
    width: 342px;
    height: 98px;
    background: linear-gradient(318deg, rgba(68,115,22,1) 0%, rgba(190,237,143,1) 73%);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.button__text {
    text-decoration: none;
    color: #333333;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.lead__icons-block {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}

.lead__icon-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    min-width: 208px;
}

.lead__icon {
    width: 58px;
    height: 58px;
}

.lead__icon-text {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
}

.place__icon {
    width: 88px;
    height: 58px;
}

.lead__form-block {
    grid-area: form;
    display: flex;
    justify-content: right;
}

.lead__form {
    display: flex;
    flex-direction: column;
    padding-top: 18%;
    width: 93%;
    margin: 0;
    gap: 5px;
}

.lead__form-input {
    margin: 0;
    padding: 10px 15px;
    height: 65px;
    border: 3px solid white;
    background-color: #464646;
    border-radius: 15px;
}

.lead__form-input::placeholder {
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}

.lead__form-textarea {
    margin: 0;
    padding: 10px 15px;
    height: 95px;
    border: 3px solid white;
    background-color: #464646;
    resize: none;
    border-radius: 15px;
}

.lead__form-textarea::placeholder {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
}

.reviews {
    margin: 0 auto;
    padding: 7vh 8vw;
    display: flex;
    flex-direction: row;
    background-color: #F2F5EE;
    gap: 5rem;
    width: fit-content;
}

.review-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}

.review-block__frame {
    display: flex;
    margin: 0;
    background-color: #F2F5EE;
    border: 3px solid #84B356;
    border-radius: 50%;
    width: 196px;
    height: 196px;
    justify-content: center;
    align-items: center;
}

.review-block__pic-mask {
    width: 179px;
    height: 179px;
    margin: 0 auto;
}

.review-block__pic {
    clip-path: circle(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 0px;
}

.review-block__pic_position {
    object-position: center -10px;
}

.review-block__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 32rem;
    margin: 0 0 0 20px;
}

.review-block__name {
    margin: 0 0 10px 0;
    font-size: 1.9rem;
    font-weight: 600;
    color: #84B356;
}

.review-block__profession {
    margin: 0 0 20px 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #2F2F2F;
}

.review-block__review {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333333;
    line-height: 95%;
}

.argumentation {
    margin: 0;
    background-image: url(images/back.webp);
    background-position: center -6vh;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 7vh 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_color-white {
    color: white;
    text-align: center;
    width: 60%;
    line-height: 110%;
}

.arguments {
    display: flex;
    flex-direction: row;
    column-gap: 3vw;
}

.argument-block * {
    position: relative;
}

.argument-block {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 23rem;
    border: 1px solid white;
    border-radius: 30px;
    background-color: rgba(255,255,255, 0.5);
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;
}

.argument-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 30px;
}

.argument__icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background-color: #2F2F2F;
    border-radius: 13px;
}

.argument__text {
    font-size: 1.4rem;
}

.argument__title {
    font-weight: 700;
}

.argument__description {
    font-weight: 500;
    margin: 0;
}

.feature {
    margin: 0;
    padding: 5vh 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature_off {
    display: none;
}

.call {
    margin: 0 0 70px 0;
    font-size: 2.4rem;
    font-weight: 700;
    color: #333333;
}

.call_green {
    color: #84B356;
}

.feature-call {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feature__description-text {
    display: flex;
    flex-direction: column;
    width: 43%;
    gap: 30px;
}

.description {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 500;
}

.description_bold {
    font-weight: 600;
}

.exchange-rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.exchange-rate__pack {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.currency-rate__block {
    background-color: rgba(70, 70, 70, 0.85);
    border-radius: 25px;
    width: 278px;
    height: 48px;
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
}

.currency-name {
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 1.9rem;
}

.rate-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.currency-rate {
    color: #BEED8F;
    margin: 0;
    font-weight: 500;
    font-size: 1.9rem;
}

.currency-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BEED8F;
    border-radius: 50%;
    margin: 0;
    font-weight: 500;
    font-size: 1.9rem;
    color: #333333;
    width: 38px;
    height: auto;
}

.currency-button_purple {
    background-color: #B79CFE;
}

.beginners-review {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh 0 10vh;
}

.message {
    width: 100%;
    margin: auto;
    height: fit-content;
    background-color: #333333;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

.message__text {
    margin: 0 12vw;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1em;
    color: white;
}

.message__text_green {
    margin: 0;
    color: #84B356;
    display: block;
}

.message__description {
    margin: 0 25vw;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2em;
}

.message__description_green {
    color: #84B356;
    margin: 0;
}

.message__text:nth-child(3) {
    margin-top: 4rem;
    font-weight: 500;
}

.button:last-child {
    margin-top: 1rem;
}

.beginners-review__block {
    display: flex;
    flex-direction: row;
    padding: 7vh 0 0;
    column-gap: 100px;
}

.review-block_column {
    flex-direction: column;
    align-items: center;
}

.review-block__frame_bigger {
    width: 250px;
    height: 250px;
}

.review-block__pic_bigger {
    width: 230px;
    height: 230px;
}

.beginners-block__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
}

.beginners-block__name {
    margin: 0.5rem 0 0;
    font-weight: 600;
    font-size: 1.9rem;
    color: #333333;
    text-transform: uppercase;
}

.beginners-block__income {
    margin: 0 0 1.2rem;
    font-weight: 600;
    font-size: 2.2rem;
    color: #669538;
}

.beginners-block__review {
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.1em;
}

.benefit {
    margin: 0;
    padding: 5vh 15vw;
    position: relative;
}

.benefit__block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    width: 40%;
}

.benefit__title {
    font-weight: 700;
    font-size: 2.2rem;
    margin: 0;
    line-height: 1em;
}

.benefit__info {
    font-weight: 500;
    margin: 0;
    line-height: 1em;
    font-size: 1.6rem;
}

.back-pic {
    position: absolute;
    width: 909px;
    height: 100%;
    background-color: #333333;
    top: 0;
    left: 53%;
}

.crypto-pic {
    position: absolute;
    width: auto;
    height: 658px;
    top: 6%;
    left: -10%;
    /*display: none;*/
}

.crypto-block {
    display: none;
}

.crypto-logo {
    display: none;
}

.crypto-block__logo {
    display: none;
}

.crypto {
    display: none;
}

.opinion {
    margin: 0;
    padding: 15vh 0 7vh;
    background-image: linear-gradient(0deg, rgba(242,245,238,0.04310227508972342) 0%, rgba(242,245,238,1) 75%), url("images/lead_back.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call_add-style {
    text-align: center;
    padding: 0 21vw;
}

.call_add-color {
    color: #333333;
}

.comments {
    padding: 0 17vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 0 100px 0;
}

.comment {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    padding: 2vh 1.5vw;
    gap: 1.5rem;
}

/*.comment-pic__wrapper {

}

.comment-pic {

}*/

.comment__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment__name {
    color: #155EA0;
    font-weight: 700;
    font-size: 1.9rem;
    margin: 0;
}

.comment__rating {
    display: flex;
    flex-direction: row;
}

.rating {
    display: flex;
    flex-direction: row;
    width: 30px;
    height: auto;
}

.comment__text {
    margin: 1.5rem 0 1rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.comment-objects {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.comment-objects__element {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-objects__symbol {
    width: 35px;
    height: auto;
}

.comment-objects__inscription {
    color: #61B3FF;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0 0 0 10px;
}

.call:nth-child(3){
    margin-bottom: 2rem;
}

.button__text_white {
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #91BB69;
    align-items: center;
}

.footer-nav {
    margin: 1.6rem 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2%;
    justify-content: center;
    width: 100%;
}

.footer-nav__element {
    max-width: fit-content;
    font-weight: 500;
    font-size: 1.9rem;
    color: white;
}

.footer-link {
    display: flex;
    margin: 1.6rem 0;
    text-decoration: none;
    height: 4rem;
}

.footer-link__logo {
    object-fit: scale-down;
    width: 5rem;
}

.footer-link__text {
    font-weight: 700;
    font-size: 1.5rem;
    color: #2F2F2F;
    margin: auto 0 auto 0.8rem;
}

.footer-call {
    font-weight: 600;
    font-size: 2.2rem;
    color: white;
    margin: 0 0 1.6rem;
}

.footer-copyright {
    width: 100%;
    background-color: #F2F5EE;
}

.footer-copyright__text {
    margin: 1.6rem 0;
    font-weight: 500;
    font-size: 1.5rem;
    color: #333333;
    text-align: center;
}



@media screen and (min-width: 1920px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .header {
        padding: 3vh 5vw;
    }

    .header__link {
        justify-content: flex-start;
        height: 3rem;
    }

    .header__logo-link {
        object-fit: scale-down;
    }

    .lead {
        padding: 5vh 5vw;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        grid-template-areas:
            "info"
            "icons"
            "form"
            "button";
        place-items: center;
        background-position: -25rem;
    }

    .lead__info-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        width: 100%;
        text-align: center;
        font-size: 2.8rem;
        margin: 0 0 25px 0;
    }

    .subtitle {
        font-size: 1.8rem;
        width: 64%;
        text-align: center;
    }

    .lead__icon-block {
        min-width: fit-content;
    }

    .lead__form-block {
        justify-content: center;
        width: 100%;
    }

    .lead__form {
        width: 85%;
        padding-top: 8%;
    }

    .button {
        margin-top: 25px;
    }

    .reviews {
        padding: 6vh 5vw;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .review-block__frame {
        width: 166px;
        height: 166px;
    }

    .review-block__pic-mask {
        width: 149px;
        height: 149px;
    }

    .review-block__pic {
        width: 149px;
        height: 149px;
    }

    .review-block__text {
        width: 420px;
    }

    .argumentation {
        padding: 5vh 5vw;
        background: linear-gradient(180deg, rgba(217,217,217,0) 0%, rgba(242,245,238,1) 80%), url(images/back.webp);
        background-size: 550%;
        background-position: center -5vh;
        background-repeat: no-repeat;
    }

    .title_color-white {
        width: 85%;
        font-size: 4rem;
        margin: 0 0 70px 0;
        text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.57);
    }

    .title_color-green {
        color: #84B356;
    }

    .arguments {
        flex-direction: column;
        gap: 3vw;
    }

    .argument-block {
        width: 34rem;
        height: 20rem;
        padding: 25px;
        background: linear-gradient(35deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.04310227508972342) 85%);
    }

    .argument__text {
        font-size: 1.3rem;
    }

    .argument__title {
        margin: 2rem 0;
    }

    .argument__description {
        margin: 0 0 1rem 0;
    }

    .feature {
        padding: 7vh 5vw 5vh;
    }

    .call {
        display: none;
    }

    .feature-call {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .feature__description-text {
        width: 80%;
    }

    .button_feature-off {
        display: none;
    }

    .exchange-rate {
        flex-direction: column;
        gap: 5px;
    }

    .currency-rate__block {
        width: 420px;
        background-color: #2F2F2F;
    }

    .currency-name {
        margin-left: 2rem;
    }

    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 2rem;
    }

    .message__text {
        display: block;
        width: 75%;
        margin: 0;
        font-size: 2.2rem;
    }

    .message__description {
        margin: 0 12vw;
        font-size: 1.3rem;
    }

    .message__description_green {
        margin: 0;
    }

    .message__text:nth-child(3) {
        display: block;
        margin-top: 3rem;
        width: 90%;
    }

    .beginners-review__block {
        flex-direction: column;
        gap: 50px;
        padding: 10vh 0 0;
    }

    .review-block__frame_bigger{
        width: 400px;
        height: 400px;
    }

    .review-block__pic_bigger {
        width: 360px;
        height: 360px;
    }

    .beginners-block__text {
        width: 35rem;
    }

    .benefit {
        display: none;
    }

    .crypto {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 80px;
    }

    .benefit__block {
        width: 100%;
        padding: 0;
    }

    .benefit__title {
        width: 88%;
        margin: auto;
        font-size: 2.8rem;
    }

    .benefit__info {
        width: 85%;
        margin: auto;
    }

    .crypto__logos {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 4.6rem;
        background-color: rgba(51, 51, 51, 0.85);
        justify-content: center;
        padding: 2rem 0;
    }

    .opinion {
        padding: 7vh 0 5vh;
        background-image: none;
    }

    .call_add-style {
        display: block;
        padding: 0 11vw;
        font-size: 2.4rem;
    }

    .call_add-color {
        color: #84B356;
    }

    .comments {
        padding: 0 7vw 4vh;
        margin: 0;
    }

    .comment {
        padding: 1.4rem;
    }

    .comment-pic {
        width: 110px;
        height: 110px;
    }

    .rating {
        width: 23px;
    }

    .call_add-style:nth-child(3) {
        display: none;
    }

    .footer-nav {
        gap: 5%;
    }

    .footer-nav__element {
        font-size: 1.7rem;
    }

    .footer-link__logo {
        width: 60%;
    }

    .footer-call {
        font-size: 2rem;
    }

    .footer-copyright__text {
        margin: 1.3rem 0;
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 425px) {

    .header {
        padding: 1.5vh 4vw;
    }

    .header__link {
        justify-content: center;
    }

    .header__logo-text {
        font-size: 1.6rem;
    }

    .lead {
        background-position: -25rem;
        padding: 4vh 5vw;
    }

    .title {
        width: 100%;
        font-size: 2rem;
        margin: 0 0 20px 0;
    }

    .subtitle {
        font-size: 1.3rem;
        width: 85%;
        margin: 0 0 40px 0;
    }

    .lead__icon {
        width: 38px;
        height: 38px;
    }

    .place__icon {
        width: 58px;
        height: 38px;
    }

    .lead__icon-text {
        font-size: 1.2rem;
    }

    .lead__form {
        width: 90%;
        gap: 2px;
    }

    .lead__form-input {
        height: 35px;
    }

    .lead__form-input::placeholder {
        color: white;
        opacity: 50%;
    }

    .lead__form-textarea {
        height: 65px;
    }

    .lead__form-textarea::placeholder {
        font-size: 1rem;
    }

    .button {
        width: 242px;
        height: 70px;
        border-radius: 15px;
    }

    .button__text {
        font-size: 1.4rem;
    }

    .reviews {
        padding: 5vh 5vw;
        gap: 2rem;
    }

    .review-block__frame {
        width: 80px;
        height: 80px;
    }

    .review-block__pic-mask {
        width: 73px;
        height: 73px;
    }

    .review-block__pic {
        width: 73px;
        height: 73px;
    }

    .review-block__text {
        width: 60vw;
        margin: 0 0 0 15px;
    }

    .review-block__name {
        font-size: 1.1rem;
        margin: 0 0 10px 0;
    }

    .review-block__profession {
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }

    .review-block__review {
        font-size: 0.9rem;
    }

    .argumentation {
        padding: 5vh 5vw;
        background: linear-gradient(180deg, rgba(217,217,217,0) 0%, rgba(242,245,238,1) 70%), url(images/back.webp);
        background-size: 600%;
        background-position: center -5vh;
        background-repeat: no-repeat;
    }

    .title_color-white {
        text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.57);
        font-size: 2.4rem;
    }

    .arguments {
        gap: 4vw;
        padding-top: 40px;
    }

    .argument-block {
        width: 18rem;
        height: fit-content;
        border-radius: 20px;
        padding: 15px;
        flex-wrap: nowrap;
    }

    .argument-block::before {
        border-radius: 20px;
    }

    .argument__icon-block {
        width: 65px;
        height: 65px;
        border-radius: 10px;
    }

    .argument__icon {
        width: 45px;
        height: auto;
    }

    .argument__text {
        font-size: 1rem;
    }

    .argument__title {
        margin: 1.5rem 0;
    }

    .argument__description {
        margin: 0 0 1rem 0;
    }

    .feature {
        padding: 4vh 5vw;
    }

    .feature__description-text {
        width: 100%;
    }

    .description {
        font-size: 1.6rem;
    }

    .currency-rate__block {
        width: 315px;
        padding: 10px 15px;
        border-radius: 17px;
        height: 42px;
    }

    .currency-name {
        font-size: 1.5rem;
    }

    .rate-block {
        align-items: center;
    }

    .currency-rate {
        font-size: 1.5rem;
    }

    .currency-button {
        font-size: 1.5rem;
        width: 29px;
    }

    .beginners-review {
        padding: 3vh 0 7vh;
    }

    .message {
        gap: 1rem;
    }

    .message__text {
        margin: 0;
        width: 75%;
        font-size: 1.6rem;
    }

    .message__text_green {
        width: auto;
    }

    .message__description {
        margin: 0 8vw;
        font-size: 1rem;
    }

    .message__description_green {
        margin: 0;
    }

    .message__text:nth-child(3) {
        margin-top: 2rem;
        width: 75%;
    }

    .beginners-review__block {
        padding: 6vh 0 0;
        gap: 40px;
    }

    .review-block__frame_bigger {
        width: 200px;
        height: 200px;
    }

    .review-block__pic_bigger {
        width: 180px;
        height: 180px;
    }

    .beginners-block__text {
        width: 22rem;
    }

    .beginners-block__name {
        font-size: 1.2rem;
        margin: 0.7rem 0 0;
    }

    .beginners-block__income {
        font-size: 1.5rem;
        margin: 0 0 1rem;
    }

    .beginners-block__review {
        font-size: 1rem;
    }

    .crypto {
        gap: 30px;
    }

    .benefit__block {
        gap: 20px;
    }

    .benefit__title {
        font-size: 1.5rem;
    }

    .benefit__info {
        font-size: 1.1rem;
        width: 80%;
    }

    .crypto__logos {
        gap: 2rem;
        padding: 1rem 0;
    }

    .crypto__icon {
        max-width: fit-content;
        height: 40px;
    }

    .opinion {
        padding: 7vh 0 2vh;
    }

    .call_add-style {
        font-size: 1.5rem;
        padding: 0 4vw;
        line-height: 1.65rem;
        margin: 0 0 50px 0;
    }

    .comments {
        padding: 0 7vw 2vh;
    }

    .comment {
        padding: 0.85rem;
        border-radius: 15px;
        gap: 0.7rem;
    }

    .comment-pic {
        width: 70px;
        height: 70px;
    }

    .comment__info {
        gap: 5px;
    }

    .comment__name {
        font-size: 1.2rem;
    }

    .rating {
        width: 19px;
    }

    .comment__text {
        margin: 0.9rem 0 0.6rem;
        font-size: 0.9rem;
        line-height: 0.95rem;
    }

    .comment-objects__symbol {
        width: 25px;
    }

    .comment-objects__inscription {
        font-size: 0.9rem;
        line-height: 0.75rem;
        margin: 0.45rem 0 auto 5px;
    }

    .footer-nav {
        margin: 1rem 0 0;
    }

    .footer-nav__element {
        font-size: 1rem;
    }

    .footer-link {
        margin: 1rem 0;
        height: 3rem;
        justify-content: center;
    }

    .footer-link__logo {
        width: 30%;
    }

    .footer-call {
        font-size: 1.15rem;
        margin: 0 0 1rem;
    }

    .footer-copyright__text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px) {

    .title {
        font-size: 1.8rem;
    }

    .subtitle {
        width: 95%;
    }

    .button {
        width: 222px;
        height: 60px;
        border-radius: 10px;
    }

    .button__text {
        font-size: 1.2rem;
    }

    .lead__form-input::placeholder {
        color: white;
        opacity: 50%;
    }

    .reviews {
        padding: 4vh 5vw;
        gap: 1.3rem;
    }

    .review-block__frame {
        border: 2px solid #84B356;
    }

    .review-block__text {
        margin: 0 0 0 0.5rem;
    }

    .review-block__name {
        font-size: 1rem;
        margin: 0 0 0.8rem 0;
    }

    .review-block__review {
        font-size: 0.8rem;
    }

    .title_color-white {
        width: 100%;
        font-size: 2rem;
    }

    .argumentation {
        background: linear-gradient(180deg, rgba(217,217,217,0) 0%, rgba(242,245,238,1) 75%), url(images/back.webp);
        background-size: 750%;
        background-position: center -5vh;
        background-repeat: no-repeat;
    }

    .argument-block {
        width: 16rem;
    }

    .argument__description {
        font-size: 0.85rem;
    }

    .message__text {
        width: 90%;
        font-size: 1.6rem;
    }

    .message__text:nth-child(3) {
        width: 90%;
        font-size: 1.5rem;

    .beginners-block__review {
        font-size: 0.85rem;
    }

    .beginners-block__text {
        width: 18rem;
    }

    .benefit__title {
        font-size: 1.2rem;
    }

    .benefit__info {
        font-size: 1rem;
    }

    .crypto__logos {
        gap: 1.8rem;
        background-color: rgba(51, 51, 51, 0.95);
    }

    .crypto__icon {
        height: 30px;
    }

    .opinion {
        padding: 5vh 0 3vh;
    }

    .call_add-style {
        font-size: 1.3rem;
        line-height: 1.4rem;
        margin: 0 0 40px 0;
    }

    .footer-nav__element {
        font-size: 0.90rem;
    }

    .footer-link {
        height: 2rem;
    }

    .footer-link__logo {
        width: 20%;
    }

    .footer-link__text {
        font-size: 1.2rem;
        margin: auto 0 auto 0.5rem;
    }

    .footer-call {
        font-size: 1rem;
    }

    .footer-copyright__text {
        font-size: 0.85rem;
    }
}


@media screen and (max-width: 320px) {
    .header {
        padding: 1.3vh 4vw;
    }

    .header__link {
        height: 2.4rem;
    }

    .header__logo-text {
        font-size: 1.2rem;
        margin: auto 0 auto 0.6rem;
    }

    .lead {
        background-position: -20rem;
        padding: 2vh 4vw;
    }

    .title {
        font-size: 1.6rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .lead__icons-block {
        column-gap: 15px;
    }

    .lead__icon {
        width: 34px;
        height: 32px;
    }

    .lead__icon-text {
        font-size: 1rem;
    }

    .place__icon {
        width: 52px;
        height: 32px;
    }

    .lead__form {
        width: 94%;
        gap: 1px;
    }

    .lead__form-input {
        height: 25px;
        border: 1px solid white;
        border-radius: 10px;
    }

    .lead__form-input::placeholder {
        font-size: 0.8rem;
    }

    .lead__form-textarea {
        height: 45px;
        border: 1px solid white;
        border-radius: 10px;
    }

    .button {
        width: 185px;
        height: 50px;
    }

    .button__text {
        font-size: 1.1rem;
    }

    .reviews {
        margin: 0 auto;
        padding: 4vh 8vw;
    }

    .review-block {
        flex-direction: column;
        gap: 0.8rem;
    }

    .review-block__frame {
        width: 140px;
        height: 140px;
        border: 2px solid #84B356;
    }

    .review-block__pic-mask {
        width: 127px;
        height: 127px;
    }

    .review-block__pic {
        clip-path: circle(50%);
        width: 100%;
        height: 100%;
    }

    .review-block__text {
        margin: 0;
        width: 95%;
    }

    .review-block__name {
        margin: 0 0 0.5rem 0;
    }

    .review-block__profession {
        margin: 0 0 0.7rem 0;
    }

    .review-block__review {
        font-size: 0.9rem;
    }
}