.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
            "header header side"
            "content-three content-four side";
}

.grid__item-head {
    grid-area: header;
    background-color: blue;
}

.grid__item-side {
    grid-area: side;
    background-color: blueviolet;
}

.grid__item-content1 {
    grid-area: content-three;
    background-color: green;
}

.grid__item-content2 {
    grid-area: content-four;
    background-color: darkcyan;
}

@media screen and (max-width: 425px) {
    .grid {
        grid-template-columns: 1fr;
        grid-auto-rows: 2fr 1fr 2fr 1fr;
        grid-template-areas:
            "header"
            "content-three"
            "side"
            "content-four";
    }
}





.back-image {
    position: relative;
    bottom: 10%;
    z-index: -50;
}

/*.arguments-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;s
}*/

.title_color-white {
    color: white;
    text-align: center;
}